<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HisabNiben"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.HisabNiben">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.CompleteProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />


        <activity
            android:name=".activity.SubscriptionActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.SubscriptionRequiredActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.TransactionHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.ReportsActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.AnalyticsActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.ReportPreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.NotificationActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.BuySmsActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.PaymentActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.SmsHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.SmsBuyHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.WalletDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.WalletHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.WalletAccountsActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.SalesReportActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.PurchaseReportActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.CustomerDueReportActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.SupplierPayableReportActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.StockReportActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.ExpenseReportActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.ProfitLossReportActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.CashFlowReportActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.TutorialListActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <activity
            android:name=".activity.TutorialVideoActivity"
            android:exported="false"
            android:theme="@style/Theme.HisabNiben" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.FirestoreJobIntentService"
            android:exported="false" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>
